*{
  box-sizing:border-box;  
 }
#calculator{
    background-color: darkgray;
    height:80%;
    width:100%;
    min-height:400px;
    min-width:300px;
    margin-top: 30px;
    border:2px solid lightgray;
    border-radius:10px;
    
}
h1{
    background-color: black;
    color:white;
    text-align: center;
   
}
#display-container{
    color:black;
    background-color: lightgray;
    height:75px; 
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#display-container p{
    margin:0.5rem;
    vertical-align:center;
}
#keypad{
    height:60%;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
}
.button{
    width:25%;
    height:20%;
    min-height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;
    font-size:1.5rem;
}
.button:hover{
    background-color:gainsboro;
    cursor:pointer;
}
.red{
    background-color:brown;
    color:azure;
}
.zero{
    width:50%;
}